In [21]:
import pandas as pd
from sqlalchemy import create_engine

infile = './data/Cliente_2.csv'
db = 'db_systrxbanco'
db_tbl_name = 'Cliente_jupyter'

In [22]:
'''
Create a mapping of df dtypes to mysql data types (not perfect, but close enough)
'''
def dtype_mapping():
    return {'object' : 'TEXT',
        'int64' : 'INT',
        'float64' : 'FLOAT',
        'datetime64' : 'DATETIME',
        'bool' : 'TINYINT',
        'category' : 'TEXT',
        'timedelta[ns]' : 'TEXT'}

In [23]:
'''
Create a sqlalchemy engine
'''
def mysql_engine(user = 'root', password = 'root', host = '172.30.208.1', port = '3310', database = 'db_systrxbanco'):
    engine = create_engine("mysql://{0}:{1}@{2}:{3}/{4}?charset=utf8".format(user, password, host, port, database))
    return engine

In [24]:
'''
Create a mysql connection from sqlalchemy engine
'''
def mysql_conn(engine):
    conn = engine.raw_connection()
    return conn

In [25]:
'''
Create sql input for table names and types
'''
def gen_tbl_cols_sql(df):
    dmap = dtype_mapping()
    sql = "idclientePK INT"
    df1 = df.rename(columns = {"" : "nocolname"})
    hdrs = df1.dtypes.index
    hdrs_list = [(hdr, str(df1[hdr].dtype)) for hdr in hdrs]
    for hl in hdrs_list:
        sql += " ,{0} {1}".format(hl[0], dmap[hl[1]])
    return sql

In [26]:
'''
Create a mysql table from a df
'''
def create_mysql_tbl_schema(df, conn, db, tbl_name):
    tbl_cols_sql = gen_tbl_cols_sql(df)
    sql = "USE {0}; CREATE TABLE IF NOT EXISTS {1} ({2})".format(db, tbl_name, tbl_cols_sql)
    cur = conn.cursor()
    cur.execute(sql)
    cur.close()
    conn.commit()

In [28]:
'''
Write df data to newly create mysql table
'''
def df_to_mysql(df, engine, tbl_name):
    df.to_sql(tbl_name, engine, if_exists='replace')

In [30]:
infile = './data/Cliente_2.csv'
db = 'db_systrxbanco'
db_tbl_name = 'Cliente_jupyter'
df = pd.read_csv(infile,sep=';',  names=["idclientePK","nrodocumento","nbrcli","email","cuenta"] , encoding='ISO-8859-1')

create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

OperationalError: (1060, "Duplicate column name 'idclientePK'")

In [17]:
infile = './data_retail/orders'
db_tbl_name = 'orders_jupyter'

df = pd.read_csv(infile,sep='|', header=None, names=["order_id","order_date","order_customer_id","order_status"])
create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

In [18]:
infile = './data_retail/order_items'
db_tbl_name = 'order_items_jupyter'

df = pd.read_csv(infile,sep='|', header=None, names=["order_item_id","order_item_order_id","order_item_product_id","order_item_quantity","order_item_subtotal","order_item_product_price"])
create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

In [19]:
infile = './data_retail/departments'
db_tbl_name = 'departments_jupyter'

df = pd.read_csv(infile,sep='|', header=None, names=['department_id', 'department_name'])
create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

In [20]:
infile = './data_retail/categories'
db_tbl_name = 'categories_jupyter'

df = pd.read_csv(infile,sep='|', header=None, names=["category_id", "category_department_id", "category_name"])
create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)

In [21]:
infile = './data_retail/products'
db_tbl_name = 'products_jupyter'

df = pd.read_csv(infile,sep='|', header=None, names=["product_id","product_category_id","product_name","product_description","product_price","product_image"])
create_mysql_tbl_schema(df, mysql_conn(mysql_engine()), db, db_tbl_name)
df_to_mysql(df, mysql_engine(), db_tbl_name)